.machine{
    background-color:black;
    border:solid rgb(252, 101, 101) 10px;
    height:500px;
    width:1000px;
    margin:100px;

    display:flex;
   
}
.slot{
    justify-content: flex-start;
    align-items: stretch;
    background-color: white;
    margin:20px;
    height:400px;
    width:30%;
    z-index:3;
    overflow: hidden;
}
.slot > .value{
    font-size:100pt;
    text-align: center;
    padding:25%;
    line-height:250px;
    animation:slotspin infinite 0.5s ease-in-out;
    z-index:1;
  
}
@keyframes slotspin{
    0%{
        transform:translateY(-200px);
    }
    100%{
        transform:translateY(200px);
    }
}